{% for student in site.data.students %}
	<div id="{{student.id}}" data-id="{{student.id}}" class="profile">

		<!--- Close Profile btn -->
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			<button class="unit btn-close btn-close-profile" id="btn-close-profile"><p>❮ VIEW CLASS</p></button>
		</div>


		<div class="box grid">

			<!--- Next prev student btns -->
			<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
				<a class="btn-prev-profile unit" id="btn-prev-profile"><p>❮ Previous Student</p></a>
			</div>
			<div class="unit unit-xs-1-2 unit-s-1-2 unit-m-1-2 unit-l-1-2">
				<a class="btn-next-profile unit" id="btn-next-profile"><p>Next Student ❯</p></a>
			</div>


			<!--- Bio section -->
			<div data-id="bio" class="bio unit unit-xs-1 unit-s-1 unit-m-1-3 unit-l-1-3">

				<div class="unit unit-xs-1 unit-s-1-2 unit-m-1 unit-l-1">
					<div class="unit-spacer">
						<img class="student-img" src="{{site.cdn}}/2014/students/{{student.id}}/{{student.id}}.jpg" alt="">
					</div>
				</div>

				<div class="unit unit-xs-1 unit-s-4-9 unit-m-1 unit-l-1">
					<div class="unit-spacer">

						<h2>{{student.name}}</h2>

							<ul class="skills">
								<li><strong>Skills:</strong></li>
								{% for skill in student.skills %}
								<li>{{skill}}<img class="hearts" src="img/hearts.png" alt=""></li>
								{% endfor %}
							</ul>
					</div>
				</div>

				<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
					<div class="unit-spacer">
						<p><strong>Bio:</strong></p>
						<p>{{student.bio}}</p>
							<ul>
								{% if student.twitter %}
								<li><a class="social social1" href="https://{{student.twitter}}" target="_blank"></a></li>
								{% endif %}
								{% if student.facebook %}
								<li><a class="social social2" href="https://{{student.facebook}}" target="_blank"></a></li>
								{% endif %}
								{% if student.behance %}
								<li><a class="social social3" href="https://{{student.behance}}" target="_blank"></a></li>
								{% endif %}
								{% if student.website %}
								<li><a class="social social4" href="http://{{student.website}}" target="_blank"></a></li>
								{% endif %}
								{% if student.dribbble %}
								<li><a class="social social4" href="https://{{student.dribbble}}" target="_blank"></a></li>
								{% endif %}
								{% if student.linkedin %}
								<li><a class="social social5" href="https://{{student.linkedin}}" target="_blank"></a></li>
								{% endif %}
								{% if student.instagram %}
								<li><a class="social social6" href="https://{{student.instagram}}" target="_blank"></a></li>
								{% endif %}
								{% if student.email %}
								<li><a class="social social7" href="https://{{student.email}}" target="_blank"></a></li>
								{% endif %}
								{% if student.vimeo %}
								<li><a class="social social8" href="https://{{student.vimeo}}" target="_blank"></a></li>
								{% endif %}
							</ul>
					</div>
				</div>
			</div>

			<!--- Work Section -->
			<div class="work unit unit-xs-1 unit-s-1 unit-m-2-3 unit-l-2-3 grid">

				<div id="{{student.id}}-thumbnails" class="thumbnails grid">
				<!--- Thumb button -->
					{% for thumb in student.images %}
					<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2">
						<div class="unit-spacer">
							<a data-id="{{student.id}}-thumb-{{forloop.index}}" class="thumbnail-btn"><img class="thumbnail img-lazy" data-original="{{site.cdn}}/2014/students/{{student.id}}/{{thumb}}" alt=""></a>
						</div>
					</div>
					{% endfor %}
				<!--- Video button -->
					{% for video in student.video %}
					<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1-2">
						<div class="unit-spacer">
							<a data-id="{{student.id}}-button-{{forloop.index}}" class="thumbnail-btn"><img class="thumbnail img-lazy" data-original="{{site.cdn}}/2014/students/{{student.id}}/{{video[1]}}" alt=""></a>
						</div>
					</div>
					{% endfor %}
				</div>

				<!--- Item -->
				{% for thumb in student.images %}
				<div id="{{student.id}}-thumb-{{forloop.index}}" class="item">
					<button class="unit btn-close-item" id="btn-close-item" data-id="{{student.id}}-thumbnails">CLOSE X</button>
					<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
						<div class="unit-spacer">
							<img class="flex-img img-lazy" data-original="{{site.cdn}}/2014/students/{{student.id}}/{{thumb | replace:'-thumb','' }}" alt="">
						</div>
					<button class="unit btn-close-item-bottom" id="btn-close-item" data-id="{{student.id}}-thumbnails">CLOSE X</button>
					</div>
				</div>
				{% endfor %}

				<!--- Video embed -->
				{% for video in student.video %}
				<div id="{{student.id}}-button-{{forloop.index}}" class="item">
					<button class="unit btn-close-item" id="btn-close-item" data-id="{{student.id}}-thumbnails">CLOSE X</button>
					<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
						<div class="unit-spacer">
							<div class="embed embed--16by9"><iframe class="embed__item" src="//player.vimeo.com/video/{{video[0]}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
						</div>
						<div class="unit-spacer">
							<img class="flex-img" src="{{site.cdn}}/2014/students/{{student.id}}/{{video[1] | replace:'-thumb','' }}" alt="">
						</div>
					<button class="unit btn-close-item-bottom" id="btn-close-item" data-id="{{student.id}}-thumbnails">CLOSE X</button>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
		<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			<button class="unit btn-close btn-close-profile" id="btn-close-profile"><p>❮ VIEW CLASS</p></button>
		</div>
	</div>
{% endfor %}
