<div id="teachers" data-id="teachers" class="profile">

	<!--- Close Profile btn -->
	<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		<button class="unit btn-close btn-close-profile" id="btn-close-profile"><p>❮ VIEW CLASS</p></button>
	</div>

	<div class="box grid">

		<!--- Bio section -->
		<div data-id="bio" class="bio unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
			<div class="unit-spacer">
				<img class="" src="{{site.cdn}}/2014/img/teachers.jpg" alt="teachers.jpg">
			</div>
			<div class="unit-spacer">
				<h2>We want to thank all of our amazing professors in the Graphic Design program for everything. Without you guys we wouldn’t be here today!</h2>

					<h2>love Level 14</h2>
			</div>

		</div>

	</div>

	<!--- Close Profile btn -->
	<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
		<button class="unit btn-close btn-close-profile" id="btn-close-profile"><p>❮ VIEW CLASS</p></button>
	</div>

</div>
