<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>Level 14</title>

  <!--CSS-->
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">
  <link href="css/profile.css" rel="stylesheet">
  <link href="css/dialog-polyfill.css" rel="stylesheet">
  <link href="css/video.css" rel="stylesheet">

  <!--MODERNIZR-->
  <script src="js/modernizr.js"></script>

</head>
<body id="top">

{{content}}

</body>
</html>
