@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 15px;

  font-family: helvetica, arial, sans-serif;
}

img {
	width: 100%;
}

/*--------------------------------CSS#1: NAV & LANDING - Nick, Jillian, Robert*/

section {
	padding-top: 6em;
	margin-top: -6em;
}

header {	/*This fixes the nav at the top, and determines the nav color*/
	position: fixed;
	display: inline-block;
	background-color: #000;
	width: 100%;
	top: 0;
	left: 0;
}

.header { /*This adds padding to the header*/
	padding: 15px;
}

.logo { /*This fixes the width of the logo*/
	width: 50px;
}

.video {
	margin-top: 5em;
}

/*=================STRICTLY NAV=================*/

.nav {
	padding-top: 1em;
	background-color: #000;

	font-size: 1rem;
}

.nav-btn {
	display: inline-block;
	float: right;
	text-decoration: none;
	color: #fff;
	background-color: #333;
}

.nav-btn,
.nav a,
.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:focus,
.nav a:active {
	padding: 17px;
}

.nav ul {
	margin: 0;
	padding: 0;
}


.nav li {
	display: block;
	width: 100%;
	padding: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
	display: block;
	color: #fff;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus, /*activates when tabbed with keyboard*/
.nav a:active { /*on click*/
	background-color: #999;
}

/*========JAVA SCRIPT NAV=======*/
.nav[data-state="closed"] {
	display: none;
}

.nav[data-state="open"] {
	display: block;
}



/*----------------------------CSS#2: STUDENT & WORK AREA - Lisa, Amy, Caroline*/


.student-img {
	width: 100%;
	display: block;
}




/*------------------------CSS#3: CONTACT & FOOTER - Winnie, Mansura, Stephanie*/
