.profile {
	top: 0;
	width: 100%;
	position: relative;
	background-color: #e6e6e6;
}

.bio p {
	margin: 0;
	padding: .25em;
}

.bio h2 {
}

.thumbnails {
	display: block;
	top: 0;
	width: 100%;
	z-index: 0;
}


.item {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
}

.btn-close-profile {
	z-index: 1;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 24px;
	border: 2px solid #00ACCF;
	background-color: #00ACCF;
	color: #fff;
	padding: 0;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
	outline: none;
	}

.btn-close-item {
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 24px;
	border: 2px solid #00ACCC;
	background-color: #00ACCC;
	color: #fff;
	padding: 0;
	font-weight: bold;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 8px;
	outline: none;
	}
