<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>Level 14</title>

  <!--CSS-->
  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/general.css" rel="stylesheet">
  <link href="css/profile.css" rel="stylesheet">
  <link href="css/dialog-polyfill.css" rel="stylesheet">
  <link href="css/video.css" rel="stylesheet">
  <link rel="stylesheet" href="css/flipclock.css">

  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="js/base.js"></script>
    <script src="js/flipclock.js"></script>
    <script src="js/dailycounter.js"></script> 

</head>
<body id="top">

{{content}}

</body>
</html>
