<!DOCTYPE html>
<html lang=en-ca>
<head>
	<meta charset=utf-8>
	<meta name="description" content="Yearly the graduating Algonquin College Graphic Design students display their work online and at an evening showcase hosted by a local business.">
	<title>Level 14</title>

	<!-- Facebook -->
  <meta property="og:type" content="artilce">
  <meta property="og:title" content="Level 14">
  <meta property="og:url" content="http://grads.algonquindesign.ca/2014/">
  <meta property="og:image" content="http://grads.algonquindesign.ca/2014/img/lvl-14-socialmedia.jpg">
  <!-- Image size: min. 200x200, prefered 1500x1500 -->
  <meta property="og:site_name" content="Level 14">
  <meta property="og:description" content="Yearly the graduating Algonquin College Graphic Design students display their work online and at an evening showcase hosted by a local business.">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="Level 14">
  <meta property="twitter:url" content="http://grads.algonquindesign.ca/2014/">
  <meta property="twitter:image" content="http://grads.algonquindesign.ca/2014/img/lvl-14-socialmedia.jpg">
  <!-- Image size: min. 120x120 -->
  <meta property="twitter:description" content="Yearly the graduating Algonquin College Graphic Design students display their work online and at an evening showcase hosted by a local business.">

	<!--CSS-->
		<link href="{{site.baseurl}}/2014/css/level-fourteen.css" rel="stylesheet">

		<!--MODERNIZR-->
		<script src="{{site.baseurl}}/2014/js/modernizr.js"></script>

		<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

		<script src="{{site.baseurl}}/2014/js/base.js"></script>
		<script src="{{site.baseurl}}/2014/js/flipclock.js"></script>
		<script src="{{site.baseurl}}/2014/js/dailycounter.js"></script>

</head>
<body id="top cf">

{{content}}



</body>
</html>
